*{
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
}
header{
    background-color: transparent;
}
header h1{
    height: 6vh;
    display: flex;
    justify-content: center;
}
header p{
    font-size: 20px;
}
section{
    background-color: transparent;
    height: 77vh;
    margin-left: 20px;
}
a{
    color: black;
}
section h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    background-color: transparent;
    margin-left: 20px;
}
main{
    background-image: linear-gradient( 45deg, rgb(134, 48, 214), rgb(71, 183, 218));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    color: rgb(255, 255, 255);
}