*{
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
}
header{
    background-color: transparent;
}
section{
    background-color: transparent;
}
footer{
    background-color: transparent;
}
main{
    background-image: linear-gradient(to left, blueviolet, rgb(60, 153, 240));
}